<%= turbo_stream.update "social-post-output" do %>
  <div class="mt-6 p-4 bg-gray-100 rounded-md">
    <p class="text-lg font-semibold text-gray-800">Generated Social Post:</p>
    <p class="text-gray-600"><%= @social_post %></p>
    <p class="text-sm text-gray-500 mt-1">Character count: <%= @social_post.length %></p>
  </div>
<% end %>